@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 11px;
  position: relative;
}

:root {
  --very-dark-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

.main {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 85%;
  height: 80%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 20px 40px -5px var(--very-dark-blue);
}

.Image__container {
  width: 100%;
  height: 40%;
}

.Image__container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Info__container {
  height: 45%;
  padding: 2.2rem 2.2rem 0.5rem 2.2rem;
  box-sizing: border-box;
}

.Info__title {
  font-size: 1rem;
  color: var(--very-dark-blue);
}

.Info__paragraph {
  margin-top: 1rem;
  color: var(--very-dark-blue);
  letter-spacing: 0.4px;
  line-height: 1.4rem;
  font-size: 0.8rem;
}

.Share__container {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
}

.Share__contact {
  display: flex;
  width: 70%;
}

.Contact__avatar {
  width: 20%;
  height: 60%;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.Contact__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Contact__name {
  color: var(--very-dark-blue);
}

.Contact__date {
  color: var(--grayish-blue);
}

.Share__button {
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  border-radius: 50%;
  z-index: 1;
  background-color: var(--light-grayish-blue);
  color: var(--very-dark-blue);
}

.Share__button.active {
  color: white;
  background-color: var(--desaturated-dark-blue);
}

.Share__button:hover {
  cursor: pointer;
}

.Share__button:focus {
  outline: none;
}


/* button clicked */

.BoxShare{
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  position: absolute;
  left: 28px;
  top: 497px;
  background-color: var(--very-dark-blue);
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  opacity: 0;
}

.Box__label {
  font-weight: 2s00;
  font-size: 1rem;
  letter-spacing: 8px;
  color: white
}

.Box__icons {
  height: inherit;
  display: flex;
  align-items: center;
}

.Box__icons > .icon {
  margin: 8px;
} 

.BoxShare.active{
  opacity: 1;
}

.attribution {
  margin: -20px 0 0 0;
  text-align: center;
}

@media screen and (min-width: 768px){
  
  .card {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
      "Image Info"
      "Image Share";
  }

  .Image__container {
    border: solid 1px green;
    grid-area: Image;
  }

  .Info__container {
    border: solid 1px blue;
    grid-area: Info;
  }

  .Share__container {
    border: solid 1px violet;
    grid-area: Share;
  }
}